<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Dropbox</lang>
	</name>
	<author>
		<lang name="default">Sergey Marin</lang>
	</author>
	<homepage>http://sergeymarin.ru/</homepage>
	<version>1.0.0</version>
	<requires>
		<livestreet>1.0.1</livestreet>
		<plugins>
		</plugins>
	</requires>
	<description>
		<lang name="default">Dropbox Chooser for LiveStreet editor</lang>
		<lang name="russian">Сервис Dropbox Chooser для редактора LiveStreet</lang>
	</description>
	<delegate>
		<module></module>
		<action></action>
		<template></template>
		<entity></entity>
	</delegate>
</plugin>