.button.dropbox {
    background: url('../images/dropbox.png') no-repeat;
    padding-left: 25px;
}

#image_upload_dropbox_preview {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.block_upload_img_dropbox_author {
    text-align: right;
    color: silver;
    font-size: 10px;
    margin: 0;
}